.row

  %h1.page-header Developers

  .col-md-3
    = render 'sidebar_cities', cities: @cities, selected_city: @selected_city

  .col-md-9
    = render 'search'

    = render partial: 'developer', collection: @developers
