.row
  .col-sm-12
    %h4 Ruby on Rails + JavaScript developer
    %ul.list-inline.summary
      %li.city
        %strong Odessa
      %li.experience 2 years
      %li.salary $2,000

    %p.skills
      %strong
        Ruby on Rails, PostgreSQL, Redis, Elasticsearch, JavaScript, HTML, CSS, Backbone.js

    %p.description
      Tincidunt auctor aliquam mauris, magna velit, platea lacus rhoncus pellentesque et, auctor tempor duis,
      amet integer integer placerat, placerat turpis, placerat auctor turpis dictumst hac nisi.
      Sed amet, auctor eu! Ut ultricies. Nunc, magna, magna platea tempor turpis dapibus tortor turpis urna,
      vel a mauris et. Cras placerat? Dapibus tincidunt eros, hac quis lectus nunc augue, phasellus, vut amet

      %br
      %br

      cum. Urna cum turpis? Dapibus ac. In placerat tempor, parturient massa! Massa sociis integer vut, cum,
      in sociis turpis ut, auctor! Auctor sociis dignissim dignissim dolor a rhoncus tristique augue porta magnis
      mauris nisi odio placerat vut sed porta? Urna turpis tortor mattis ut dignissim! Hac duis nunc non elit?
      Pid velit augue. Tristique diam, scelerisque cursus sagittis placerat dapibus, mattis.

    %hr
