%h3 Cities

%ul.list-unstyled
  %li
    %a{href: '#'} Kyiv
  %li
    %a{href: '#'} Odessa
  %li
    %a{href: '#'} Lviv

%h3 Experience

%ul.list-unstyled
  %li
    %a{href: '#'} < 1
  %li
    %a{href: '#'} 1
  %li
    %a{href: '#'} 2+
  %li
    %a{href: '#'} 3+

%h3 Salary

%ul.list-unstyled

  %li
    %a{href: '#'} < $1,000
  %li
    %a{href: '#'} $1,000 &dash; $2,000
  %li
    %a{href: '#'} $2,000 &dash; $3,000
  %li
    %a{href: '#'} $3,000+
