%header.navbar.navbar-static-top
  .navbar-header
    %a.navbar-brand{ href: '#' } TDD Demo
  %nav.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.active
        = link_to 'Developers', developers_path
